# Data Science Tools and Ecosystem

"In this notebook, Data Science Tools and Ecosystem are summarized."

**Objectives:**
- popular languages are:
- pyhton
- r
- many others

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. pandas
3. TensorFlow
4. ggplot2

|Data Science Tools|
|-------------------|
|Jupyter notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
- a=4
- b=6
- c=b+a
- d=a*b*a
- z=2*90+4//6*4

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
# Given minutes
minutes = 200

# Convert minutes to hours
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

## Author
meghna mishra